*{
    margin: 0px;
    padding: 0px;
}

.title{
    text-align: center;
    margin: 20px auto;
    width: 450px;
    font-size: 2.2rem;
}

h1{
    background-color: red;
    padding: 10px 20px;
}

table{
    margin: 0px auto;
}

table tr td{
    height: 50px;
    width: 50px;
}

.c1{
    background-color: red;
}

.c2{
    background-color: black;
}